@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Montserrat;
    margin: 0px;
    padding: 0px;
    user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.Menus {
    /* background-image: url("../assets/backgroungImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #001E3A;
    background-color: #FFF4E6;
}

.MenusLogo {
    width: 50vw;
    max-width: 300px;
    height: auto;
    align-self: center;
    justify-self: center;
  }

.MenusTitle {
    width: 100vw;
    text-align: center;
    margin: 35px 0px 25px 0px;
    font-size: 64px;
    font-weight: bold;
}

.MenusContainer {
    width: 100vw;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-decoration: none;
}

.MenusCover {
    width: 90vw;
    height: auto;
    margin: 5vw;
    border-radius: 25px;
    filter: brightness(0.9);
    box-shadow: 0px 0px 15px #00000075;
    text-decoration: none;
}

.MenusCoverTitle {
    width: 100vw;
    text-align: center;
    color: #001E3A;
    z-index: 1;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-decoration: none;
}

.MenusContainer Link {
    text-decoration: none;
}