@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: Montserrat;
  margin: 0px;
  padding: 0px;
  user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.not-found-content {
  text-align: center;
}

.not-found-content h1 {
  font-size: 100px;
  margin-bottom: 10px;
  color: #333;
}

.not-found-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.not-found-content p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #666;
}

.btn-home {
  display: inline-block;
  padding: 12px 30px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-home:hover {
  background-color: #004b9b;
  color: #fff
}