@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: Poppins;
    margin: 0px;
    padding: 0px;
    user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.Register {
    background-image: url("../assets/backgroungImage.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* min-width: 390px; */
    width: 100vw;
    height: 100vh;
    background-color: #FFF4E6;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.content input[type=text],
input[type=tel] {
    width: 300px;
    height: 50px;
    flex-shrink: 0;
    margin: 10px;
    border-radius: 12px;
    border: 1px solid #E89900;
    background: #FFF4E6;
    color: #E89900;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    /* 23px */
    letter-spacing: 0.6px;
    text-transform: capitalize;
}

.content input[type=submit] {
    width: 300px;
    height: 35px;
    flex-shrink: 0;
    margin: 10px;
    border-radius: 12px;
    border: 0px;
    background: #E89900;
    color: #FFF4E6;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    /* 18.4px */
    letter-spacing: 0.48px;
    text-transform: capitalize;
    align-self: center;
}

.content .formlink {
    width: 300px;
    height: 50px;
    flex-shrink: 0;
    margin: 10px;
    border-radius: 12px;
    border: 1px solid #E89900;
    background: #FFF4E6;
    text-decoration: none;
    color: #E89900;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: 0.6px;
    text-transform: capitalize;
}

.content .formlink:hover {
    background: #E89900;
    color: #FFF4E6;
}