.StocksContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.StocksContainer h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}

.StocksContainer div {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    font-size: 1rem;
    margin-right: 10px;
    color: #555;
}

input[type="number"] {
    padding: 5px 10px;
    width: 80px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="number"]:focus {
    border-color: #007BFF;
    outline: none;
}

.stocksButton {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.stocksButton:hover {
    background-color: #0056b3;
}

.stocksButton:focus {
    outline: none;
}

@media (max-width: 600px) {
    .StocksContainer {
        padding: 10px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="number"] {
        width: 100%;
    }
}
